<form method="post" id="add-url">
    {{ form.hidden_tag() }}
    <h4>Create new URL</h4>
    <div class="form-group m-5">
        {{ form.original_url(class="form-control", id="originalUrl", placeholder="Enter long url") }}
    </div>
    {% if form.original_url.errors %}
        {% for error in form.original_url.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    {% if premium %}
        <div class="m-5">
            <div class="input-group">
                <span class="input-group-text">{{ main_url }}</span>
                {{ form.custom_field(class="form-control", id="customUrl", placeholder="Enter custom url") }}
            </div>
        </div>
        {% if form.custom_field.errors %}
            {% for error in form.custom_field.errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="form-group m-5">
        {{ form.tags(class='form-control', placeholder='Tags (Separate tags with commas)') }}
    </div>
    {% if form.tags.errors %}
        {% for error in form.tags.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
            {{ error }}
            </div>
        {% endfor %}

    {% endif %}

    <div class="form-group m-5">
        {{ form.title(class='form-control', placeholder='Enter title') }}
    </div>
    {% if form.title.errors %}
        {% for error in form.title.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
            {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="form-group m-5">

        {{ form.submit(class="btn btn-primary", id="create_url") }}
    </div>
</form>