{% extends 'base.html' %}

{% block scripts %}

{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='js/update_url.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delete_url.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {{ render_messages() }}
    {% if check_auth %}
        {% include 'main/profile_bar.html' %}
        {% include 'main/search_form.html' %}

        <h1>URLS</h1>
         {% for url in urls.items %}
             <li class="list-group-item{% if url.locked %} disabled{% endif %}" id="li-{{ url.id }}">
                 <div class="d-flex justify-content-between">
                    <div>
                        {% if url.title %}<p class="title">{{ url.title }}</p> {% else %}<p class="title" style="margin:30px 0"></p>{% endif %}
                        <h3>{{ url.url }}</h3>
                        <p class="orig-url">{{ url.original_url }}</p>
                    </div>
                    <div>
                         <time><small>{{ url.created_on.strftime('%d %B %Y, %H:%M') }}</small></time>
                        <div>
                            <div class="d-inline-flex">
                                {% include 'main/modal.html' %}
                            </div>
                            <div class="d-inline-flex">
                                {% include 'main/delete_form.html' %}
                            </div>
                        </div>
                    </div>
                 </div>
                 <div id="tags-{{ url.id }}">
                     {% if url.tags %}
                         {% for tag in url.tags | tags_str_to_list %}
                             <a href="{{ url_for('main.index', search_field=tag) }}"><span class="badge bg-dark">{{ tag }} </span></a>
                         {% endfor %}
                     {% else %}
                         <br>
                     {% endif %}
                 </div>

             </li>
        {% endfor %}
        {% if session['search'] %}
            {% include 'main/search_pagination.html' %}
        {% else %}
            {% include 'main/pagination.html' %}
        {% endif %}
    {% else %}
        <br><br>
        <h2>Short links, big results</h2><br>
        <h4 class="text-secondary mt-4">A URL shortener built with powerful tools to <br>help you grow and protect your brand.</h4>
    {% endif %}

{% endblock %}
