<div class="d-flex flex-row-reverse">
    <div class="settings-btn-wrapper">
        <a href="{{ url_for('main.settings') }}" class="btn btn-dark">Settings</a>
    </div>
    <h4 class="title">
        {{ user.name }}
    </h4>
</div>