<br>
<div class="d-flex justify-content-around">
<nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if urls.page == 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('main.index', page=1, search_field=search_data) }}">First</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.index', page=1, search_field=search_data) }}">First</a>
                </li>
            {% endif %}

            {% if urls.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('main.index', page=urls.prev_num, search_field=search_data) }}">Prev</a>
                    </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Prev</a>
                </li>
            {% endif %}

            <li class="page-item">
                {% if urls.page - 2 > 0 %}
                    <a class="page-link" href="{{ url_for('main.index', page=urls.page - 2, search_field=search_data) }}">
                    {{ urls.page - 2 }}</a>{% endif %}
            </li>

           {% if urls.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.index', page=urls.page - 1, search_field=search_data) }}">
                        {{ urls.page - 1 }}
                    </a>
                </li>

            {% endif %}


                <li class="page-item disabled">
                    <a class="page-link">{{ urls.page }}</a>
                </li>


            <li class="page-item">
                {% if urls.has_next %}
                    <a class="page-link" href="{{ url_for('main.index', page=urls.page + 1, search_field=search_data) }}">
                        {{ urls.page + 1 }}</a>
                {% endif %}
            </li>

            <li class="page-item">
                {% if urls.pages >= urls.page + 2 %}
                    <a class="page-link" href="{{ url_for('main.index', page=urls.page + 2, search_field=search_data )}}">
                        {{ urls.page + 2 }}
                    </a>
                {% endif %}
            </li>

             {% if urls.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.index', page=urls.next_num, search_field=search_data) }}">Next</a>
                </li>
             {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
             {% endif %}

            {% if urls.page == urls.pages or urls.pages==0  %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('main.index', page=urls.pages, search_field=search_data) }}">Last</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.index', page=urls.pages, search_field=search_data) }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>