<form method="get" >
    <div class="form-group">
        {{ form.search_field.label(class='form-label') }}
        {{ form.search_field(class='form-control', value = session['search']) }}
    </div>
    {% if form.search_field.errors %}
        {% for error in form.search_field.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>