<form method="post" action="{{ url_for('main.activate_premium') }}" id="activate-prem-form">
    {{ premium_form.csrf_token }}
    <div class="d-flex">
        <div class="row">
            <div class="col-lg-4"><h5>Premium</h5></div>
            <div class="col-lg-4">
                {% if c_user.user_info.premium %}
                    {{ premium_form.hidden_user_id(value=current_user.id, id='user-id') }}
                    {{ premium_form.submit(class='btn btn-success', value='Active', id='btn-prem') }}

                {% else %}
                    {{ premium_form.hidden_user_id(value=current_user.id, id='user-id') }}
                    {{ premium_form.submit(class='btn btn-warning', value='Activate', id='btn-prem') }}

                {% endif %}
            </div>
            <div class="col-lg-12"><hr></div>
        </div>
    </div>
</form>
<form  method="post">
    {{ form.hidden_tag() }}
    <br>
    <div class="d-flex">
        <div class="row" >
            <div class="col-lg-4"><h5>Change password</h5></div>
            <div class="col-lg-4">
                {{ form.current_password.label(class='form-label') }}
                {{ form.current_password(class='form-control') }}

                {{ form.change_password.label(class="form-label") }}
                {{ form.change_password(class="form-control") }}

                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="col-lg-12"><hr></div>
        </div>
    </div>
    <br>

    <div class="d-flex">
        <div class="row">
            <div class="col-lg-4"><h5>Change name</h5></div>
            <div class="col-lg-4">
                {{ form.change_name.label(class='form-label') }}
                {{ form.change_name(class='form-control', value=c_user.name) }}
            </div>
            {% if form.change_name.errors %}
                {% for error in form.change_name.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-lg-12"><hr></div>
        </div>
    </div>
    <br>
    <div class="d-flex">
        <div class="row">
            <div class="col-lg-4"><h5>Change email</h5></div>
            <div class="col-lg-4">
                {{ form.change_email.label(class="form-label") }}
                {{ form.change_email(class="form-control",value=c_user.email) }}
            </div>
            {% if form.change_email.errors %}
                {% for error in form.change_email.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-lg-12"><hr></div>
        </div>
    </div>
<br>
        {{ form.submit(class="btn btn-primary") }}

</form>
<br>


