{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/activate_premium.js') }}"></script>
    {{ render_messages() }}
    {% include 'main/settings_form.html' %}
    <h5>Access history</h5>
            <ul class="list-group list-group-flush">
                {% for event in events %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p><strong>
                                        {{ event.event_title }}
                                    </strong></p>
                                <p>
                                        {{ event.event_desc }}
                                </p>
                            </div>
                            <div><small>{{ event.created_on.strftime('%d %B %Y, %H:%M') }}</small></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}