<form class="form" method="post" action="{{ url_for('main.update_url') }}" id="form-{{ url.id }}">
    {{ update_form.csrf_token }}
    <div class="form-group">
        {{ update_form.original_url.label(class='form-label') }}
        {{ update_form.original_url(class='form-control', value=url.original_url) }}
    </div>
    {% if update_form.original_url.errors %}
        <ul class="errors">
        {% for error in update_form.original_url.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    <div class="form-group">
        {{ update_form.hidden_url_id(value=url.id) }}
        {{ update_form.custom_field.label(class='form-label') }}
        {% if current_user.user_info.premium %}
            {{ update_form.custom_field(class='form-control', value=url.url) }}
        {% else %}
            {{ update_form.custom_field(class='form-control', value=url.url, readonly="true") }}
        {% endif %}
    </div>
    {% if update_form.custom_field.errors %}
        <ul class="errors">
        {% for error in update_form.custom_field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    <div class="form-group">
        {{ update_form.title.label(class='form-label') }}
        {% if url.title %}
            {{ update_form.title(class='form-control', value=url.title) }}
        {% else %}
            {{ update_form.title(class='form-control', placeholder='Empty') }}
        {% endif %}
    </div>
    {% if update_form.title.errors %}
        <ul class="errors">
        {% for error in update_form.title.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    <div class="form-group">
        {{ update_form.tags.label(class='form-label') }}
        {% if url.tags %}
            {{ update_form.tags(class='form-control', value=url.tags) }}
        {% else %}
            {{ update_form.tags(class='form-control', placeholder='Empty') }}
        {% endif %}
    </div>
    {% if  update_form.tags.errors %}
        <ul class="errors">
        {% for error in update_form.tags.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
        <br>
    <div class="form-group">
        {{ update_form.submit(class='btn btn-primary',id='btn-update-' + (url.id | string)) }}
    </div>
</form>