body {
    max-width: 70%;
    margin:0 auto;
}
form > div.d-flex > .row{
     flex-grow:1;
}
hr{
    margin: 1.5rem 0;
    border-top:1px solid #A6ACAF  ;
}

.settings-btn-wrapper{
    margin-left:25px;
}
.call-upd-modal{
    position:relative;
    top:2px;
}

.disabled {
    pointer-events:none;
    opacity:0.6;
}

@media only screen
  and (max-width: 600px){
    body{ max-width:99%; }
}

[id^=btn-delete-]{
    pointer-events:fill;
}

.btn-repo{
    background:#e24329;
    color: white;
}
.btn-repo:hover{
    background:#fc6d26;
    color: white;
}