{% extends 'base.html' %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {{ render_messages() }}
        {% include 'auth/login_form.html' %}
    </div>
</div>
{% endblock %}