    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group m-5">
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Enter email") }}
        </div>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
                {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group m-5">
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Enter your name") }}
        </div>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
                {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group m-5">
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Enter password") }}
        </div>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times</button>
                {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group m-5">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
