{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {{ render_messages() }}
        {% include 'auth/reg_form.html' %}
    </div>
</div>
{% endblock %}