{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}


<html>
    <head>
    <title>{% block title %}{% endblock %}</title>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        {% block script %}
            <script src="{{ url_for('static', filename='js/libs/jquery-3.6.0.js') }}"></script>
             {{ bootstrap.load_js() }}
        {% endblock %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{ render_nav_item('main.index', 'Home', use_li=True) }}
                    {% if not current_user.is_authenticated %}
                    {{ render_nav_item('auth.signup', 'Register', use_li=True) }}
                    {{ render_nav_item('auth.login', 'Login', use_li=True) }}
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        {% if current_user.confirmed %}
                             <li class="nav-item"><a class="btn btn-success " href="{{ url_for('main.create_url') }}">CREATE</a></li>
                            {% if current_user.user_info.admin %}
                                {{ render_nav_item('admin.index', 'Admin panel', use_li=True) }}
                            {% endif %}
                        {% endif %}
                        {{ render_nav_item('auth.logout', 'Logout', use_li=True) }}
                    {% endif %}
                    <li class="nav-item">
                        <a class="btn btn-repo" href="{{ url_for('main.repo_redirect') }}" target="_blank">Repo</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

    {% block content %}{% endblock %}
    </body>
</html>